[submodule "tests/toml-test"]
	path = tests/toml-test
	url = https://github.com/BurntSushi/toml-test.git
[submodule "third_party/tomlplusplus"]
	path = third_party/tomlplusplus
	url = git@github.com:marzer/tomlplusplus.git
